#blue-body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(#549eff, #0b5091);
  box-shadow: inset 0 0 8em #444444;
  float: left;
}

#content {
  position: relative;
  background-color: #f1f1f1;
  margin-top: 25vh;
  min-height: 50vh;
  padding: 10px 20px;
  border-radius: 20px;
}

.links {
  position: absolute;
  top: -55px;
  right: 5px;
}

.right-border {
  border-right: 1px solid #dddddd;
}

.xs-image {
  width: 50px;
}